.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    display: grid;
    /*grid-template-columns: 75px 75px 75px 75px;*/
    grid-template-columns: repeat(4,75px);
   /* grid-template-rows: 150px 75px 75px 75px 75px 75px;*/
    grid-template-rows: 150px repeat(5,75px);
    background-color: #C0B9DD;
    padding: 15px ;
    border-radius: 20px ;
    box-shadow: 15px 10px 5px 5px #8d99ae;
   
}
.display {
    grid-column: span 4;
  background-color: #F7F4EA;
  border-radius: 10px ;
  padding: 25px ;
  border-style: inset;
  text-align: right;
  margin-bottom: 15px ;
  font-size: 30px;
  box-shadow: 0px 0px 0px 5px #8d99ae;
}

.col2 {
    grid-column: span 2 ;
    
}

button {
    cursor: pointer;
    margin: 1.5px;
    border-radius: 30px;
    border: none;
    background-color: #80A1D4;
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px #8d99ae;
}
*{
    color: #bc3908
}

button:active{
    background-color: #75C9C8;
}
body{
    background-color: #DED9E2;
}